
<head>
 
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/habitView.css">
</head>
<body>
    <h1>Habit Tracker</h1>
    <a href="/habits/new">Add New Habit</a>
    <ul>
        <% habits.forEach(habit => { %>
            <li>
                <a href="/habits/<%= habit._id %>"><%= habit.name %></a>
                <form action="/habits/<%= habit._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a id="edit" href="/habits/<%= habit._id %>/edit">Edit</a>
            </li>
        <% }) %>
    </ul>
</body>

