
<head>
 
    <title>Add New Habit</title>

    <link rel="stylesheet" href="/Addnew.css">
</head>
<body>
    <h1>Add New Habit</h1>
    <form action="/habits" method="POST">
        <label for="name">Habit Name:</label>
        <input type="text" name="habit[name]" id="name">
        <label for="frequency">Frequency:</label>
        <input type="text" name="habit[frequency]" id="frequency">
        <button type="submit">Add Habit</button>
    </form>
    <a href="/habits">Back to Habits</a>
</body>
